[loggers]
keys=root,error

[handlers]
keys=logfile

[formatters]
keys=logfileformatter

[logger_root]
level=NOTSET
handlers=logfile

[logger_error]
level=INFO
handlers=logfile
propagate=1
qualname=ERROR

[handler_logfile]
class=logger.logger_file_handler.SizedTimedRotatingFileHandler
level=DEBUG
args=('', 'adcblog', 'a', 10, 100)
formatter=logfileformatter

[formatter_logfileformatter]
format=[%(asctime)s][TID-%(thread)d][%(levelname)s][%(name)s:%(lineno)d]-%(message)s
datefmt=
class=logging.Formatter
